mixin SelectBox(name, options)
  .select-box
    .select-box__current(tabindex="1")
      each option, index in options
        .select-box__value
          input.select-box__input(type="radio" id=index value=option.value name=name checked=option.checked)
          p.select-box__input-text #{option.name}
      img.select-box__icon(src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true")
    ul.select-box__list
      each option, index in options
        li
          label.select-box__option(for=index aria-hidden) #{option.name}

include ../blocks/mixin/bannerCatalog
+bannerCatalog("../assets/img/pageCatalog-bg.png", 'Профессиональная косметика')
.wrapper-flex
    section.sidebar-catalog
        .wrapper
            .sidebar-catalog-wrapper
                .row-name
                    p.page__text_gilroy_sm Категория
                    .arrowBtn
                        button(type="button" onclick="openCategory()")#arrowBtn
                            .page__img
                                img(src="assets/img/arrow-small-black.svg")
                .wrapper-inner-checkbox#innerCheckbox
                    .innerCheckbox
                        .row-checkbox-name
                            .checkbox
                                input(type="checkbox" id="cb1") 
                                label(for="cb1") 
                                    p.page__text_14 Скрабы для тела
                                .row-checkbox-name.levelOne
                                    .checkbox
                                        input(type="checkbox" id="cb12") 
                                        label(for="cb12") 
                                            p.page__text_14 Скрабы для тела
                        .row-checkbox-name
                            .checkbox
                                input(type="checkbox" id="cb2") 
                                label(for="cb2") 
                            p.page__text_14 Маски для тела
                        .row-checkbox-name
                            .checkbox
                                input(type="checkbox" id="cb3") 
                                label(for="cb3") 
                            p.page__text_14 Соли для ванн
                        .row-checkbox-name
                            .checkbox
                                input(type="checkbox" id="cb4") 
                                label(for="cb4") 
                            p.page__text_14 Антицеллюлитные крема
                        .row-checkbox-name
                            .checkbox
                                input(type="checkbox" id="cb5") 
                                label(for="cb5") 
                            p.page__text_14 Скраб для маникюра/педикюра
                        .row-checkbox-name
                            .checkbox
                                input(type="checkbox" id="cb6") 
                                label(for="cb6") 
                            p.page__text_14 Крем после депиляции
                        .row-checkbox-name
                            .checkbox
                                input(type="checkbox" id="cb7") 
                                label(for="cb7") 
                            p.page__text_14 Крем для маникюра/педикюра
                .row-name
                    p.page__text_gilroy_sm Бренды
                    .arrowBtnBrand
                        button(type="button" onclick="openCategoryBrand()")#arrowBtnBrand
                            .page__img
                                img(src="assets/img/arrow-small-black.svg")
                .wrapper-inner-brand#innerBrand
                    .innerBrand
                        .row-checkbox-name
                            .checkbox
                                input(type="checkbox" id="cb8") 
                                label(for="cb8") 
                            p.page__text_14 HRISTINA PROFESSIONAL
                        .row-checkbox-name
                            .checkbox
                                input(type="checkbox" id="cb9") 
                                label(for="cb9") 
                            p.page__text_14 SEZMAR PROFESSIONAL
    section.productList
        .wrapper
            include ../blocks/breadcrumbs
            h2.page__title-h2 Профессиональная косметика
            .tabs#tabs
                .row-tabs-filter
                    .left.tab-nav
                        p.page__text_gilroy_16.is-active.tab-link Все товары
                        p.page__text_gilroy_16.tab-link Новинки
                        p.page__text_gilroy_16.tab-link Популярное
                        p.page__text_gilroy_16.tab-link Рекомендуемые

                    .right
                        .filter
                            button(type="button" onclick="openFilter()")
                                p.page__text_gilroy_16 Сортировать (По умолчанию)
                            button(type="button" onclick="openFilter()")#arrowBtnFilter
                                .page__img
                                    img(src="assets/img/arrow-small-black.svg")
                            .wrapper-inner-Filter#innerFilter
                                .innerFilter
                                    .wrapper-content-filter
                                        +SelectBox('Ben', [
                                            {name: 'Cream', value: '1', checked: true}, 
                                            {name: 'Cheese', value: '2'}, 
                                            {name: 'Milk', value: '3'}, 
                                            {name: 'Honey', value: '4'}, 
                                            {name: 'Toast', value: '5'}
                                            ])
                                        .item-filter
                                            
                                            //- .checkbox
                                            //-     input(type="checkbox" id="cb10") 
                                            //-     p.page__text_gilroy_16 По умолчанию
                                            //-     label(for="cb10")

                                                    
                                        p.page__text_gilroy_16 По возрастанию цен
                                        p.page__text_gilroy_16 По убыванию цен
                                        p.page__text_gilroy_16 Новинки
                                        p.page__text_gilroy_16 Рекомендуемые
                .tab-content.is-active
                    h2.paeg__title-h2 tab1
                .tab-content
                    h2.paeg__title-h2 tab2
include ../blocks/subscribe
include ../blocks/second-subscribe